{% extends 'RzAdminBundle:CRUD:list_outer_rows_mosaic.html.twig' %}


{% block sonata_mosaic_background %}
    <img src="{{ asset('bundles/rzadmin/images/mosaic-block-placeholder.png') }}" alt="" />
{% endblock %}


{% block sonata_mosaic_hover_view %}
	<span class="mosaic-box-label label label-primary pull-right">#{{ admin.id(object) }}</span>
	{{ object.name }}
	<div class="clearfix"></div>
	<i class="text-muted">{{ object.type }}</i>
	<div class="clearfix"></div>
{% endblock %}
