.rz-cms-edit.cms-edit-mode .rzcms.cms-block.cms-container.cms-container-root {
    outline: 1px dotted #E8554E;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rz-cms-edit.cms-edit-mode .rzcms.btn {
    background-image: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none !important;
    margin: 2px;
    text-shadow: none;
}

.rz-cms-edit.cms-edit-mode .rz-cms-row-wrapper {
    padding: 5px;
    width: auto;
}

.rz-cms-edit.cms-edit-mode .rzcms.cms-block.cms-block-element {
    outline: 1px dotted #7DC692;
    padding: 5px;
    width: 100%;
}

.rz-cms-edit.cms-edit-mode .navbar .btn,
.rz-cms-edit.cms-edit-mode .navbar .btn-group {
    margin-top: 0px;
}

/*.rz-cms-edit.cms-edit-mode .rz-cms-block-wrapper {*/
    /*outline: 1px dotted #51a351;*/
    /*padding: 5px;*/
    /*width: 100%;*/
/*}*/

.rz-cms-edit.cms-edit-mode .btn-container {
    background-color: #E8554E;
    color: #fff;
}
.rz-cms-edit.cms-edit-mode .btn-container:hover,
.rz-cms-edit.cms-edit-mode .btn-container:active,
.rz-cms-edit.cms-edit-mode .btn-container:focus{
    background-color: #313941;
}

.rz-cms-edit.cms-edit-mode .rzcms-layout-title-name-container .dropdown-menu > li > a:hover,
.rz-cms-edit.cms-edit-mode .rzcms-layout-title-name-container .dropdown-menu > li > a:focus,
.rz-cms-edit.cms-edit-mode .rzcms-layout-title-name-container .dropdown-submenu:hover > a,
.rz-cms-edit.cms-edit-mode .rzcms-layout-title-name-container .dropdown-submenu:focus > a {
    text-decoration: none;
    color: #ffffff;
    background: #e8554e none;
}

.rz-cms-edit.cms-edit-mode .rz-cms-layout-layer.cms-layout-role-block .dropdown-menu > li > a:hover,
.rz-cms-edit.cms-edit-mode .rz-cms-layout-layer.cms-layout-role-block .dropdown-menu > li > a:focus,
.rz-cms-edit.cms-edit-mode .rz-cms-layout-layer.cms-layout-role-block .dropdown-submenu:hover > a,
.rz-cms-edit.cms-edit-mode .rz-cms-layout-layer.cms-layout-role-block .dropdown-submenu:focus > a{
    background: #5a6989 none;
}

.rz-cms-edit.cms-edit-mode .btn-block {
    background-color: #5a6989;
    color: #fff;
    min-width: 30px;
    margin-top: 3px !important;
}

.rz-cms-edit.cms-edit-mode .btn-block:hover,
.rz-cms-edit.cms-edit-mode .btn-block:active,
.rz-cms-edit.cms-edit-mode .btn-block:focus{
    background-color: #253454;
}


.rz-cms-edit.cms-edit-mode .rz-cms-layout-layer.cms-layout-role-block .btn.btn-success {
    background-color: #7DC692;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.rz-cms-edit.cms-edit-mode .rz-cms-layout-layer.cms-layout-role-block .btn.btn-success:hover,
.rz-cms-edit.cms-edit-mode .rz-cms-layout-layer.cms-layout-role-block .btn.btn-success:active,
.rz-cms-edit.cms-edit-mode .rz-cms-layout-layer.cms-layout-role-block .btn.btn-success:focus{
    background-color: #019875;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-header {
    border-bottom: 0px;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-body {
    padding: 0px !important;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-body.modal-list {
    padding: 0px 20px 20px 20px !important;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .rz-form {
    margin-bottom: 0px !important;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-footer {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.rz-cms-edit.cms-edit-mode .rz-cms-admin.theme-darkblue.modal {
    border: 0px !important;
}


.rz-cms-edit.cms-edit-mode .modal-backdrop {
    background: #000 !important
}

.rz-cms-edit.cms-edit-mode .rz-cms-admin .rz-form.form-vertical.form-bordered .control-group:last-child {
    border-bottom: 0px;
}


.rz-cms-edit.cms-edit-mode .gritter-primary .gritter-item {
    display: block;
    background: #253454 !important;
    border: 0px !important;
    color: #fff !important;
    text-shadow: none !important;
    border-radius: 4px;
    padding: 7px 10px 10px;
    box-shadow: none !important;
    font-family: 'Open Sans', sans-serif !important;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3) !important;
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3) !important;
}

.rz-cms-edit.cms-edit-mode .gritter-primary .gritter-item p,
.rz-cms-edit.cms-edit-mode .gritter-info .gritter-item p,
.rz-cms-edit.cms-edit-mode .gritter-success .gritter-item p,
.rz-cms-edit.cms-edit-mode .gritter-warning .gritter-item p,
.rz-cms-edit.cms-edit-mode .gritter-danger .gritter-item p {
    font-family: 'Open Sans', sans-serif !important
}


.rz-cms-edit.cms-edit-mode .select2-container .select2-choice {
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    background: #fff none;
}

.rz-cms-edit.cms-edit-mode.control-group .select2-container .select2-choice {
    margin-bottom: 10px;
}

.rz-cms-edit.cms-edit-mode .select2-container-active .select2-choice,
.rz-cms-edit.cms-edit-mode .select2-container-active .select2-choices {
    border: 1px solid #aaa;
}

.rz-cms-edit.cms-edit-mode .select2-container .select2-choice {
    background: transparent none;
}

.rz-cms-edit.cms-edit-mode .select2-search input {
    margin: 5px 0 0 0;
    background: transparent none;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

.rz-cms-edit.cms-edit-mode .select2-search input.select2-active {

}


.rz-cms-edit.cms-edit-mode .select2-container .select2-choice .select2-arrow {
    border-left: 0px;
    background-clip: padding-box;
    background: transparent none;
}

.rz-cms-edit.cms-edit-mode .select2-container .select2-choice div {
    border-left: 0;
    background: none;
}

.rz-cms-edit.cms-edit-mode .select2-container.select2-drop-above .select2-choice {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-image: none;
}

.rz-cms-edit.cms-edit-mode .select2-container .select2-search-choice-close {
    top: 3px
}

.rz-cms-edit.cms-edit-mode .select2-container .select2-choices {
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    background: #f9f9f9 none;
    padding: 2px 0px;
}

.rz-cms-edit.cms-edit-mode .select2-drop-active {
    border: 1px solid #aaa;
    box-shadow: none;
    margin-top: 5px;
}

.rz-cms-edit.cms-edit-mode .select2-drop.select2-drop-above.select2-drop-active {
    border-top: 1px solid #aaa;
    box-shadow: none;
    margin-bottom: 5px;
}

.rz-cms-edit.cms-edit-mode .select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #aaa;
    box-shadow: none;
}

.rz-cms-edit.cms-edit-mode .select2-container-multi .select2-choices .select2-search-choice {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #e4e4e4 none;
    border: none;
}

.rz-cms-edit.cms-edit-mode .select2-container-multi .select2-choices .select2-search-field input {
    padding: 0px 5px;
    line-height: 20px;
    margin-top: 3px;
}

.rz-cms-edit.cms-edit-mode .select2-results,
.rz-cms-edit.cms-edit-mode .select2-search,
.rz-cms-edit.cms-edit-mode .select2-with-searchbox {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.rz-cms-edit.cms-edit-mode .select2-drop {
    z-index: 9999999 !important;
}

.select2-results .select2-highlighted {
    background: #253454;
}
