{% extends 'RzAdminBundle:CRUD:base_history.html.twig' %}

{%block admin_information %}
    {% if admin.isChild %}
        {% set page =  admin.parent.subject %}
        {% if page %}
            {% include 'RzPageBundle:PageAdmin:parent_view.html.twig' %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block actions %}
    <div class="row-fluid admin-action-buttons">
        <div class="span12">
            <div class="sonata-actions btn-group hidden-phone hidden-tablet visible-desktop pull-right">
                {% if admin.isChild %}
                    {% include 'RzPageBundle:SnapshotAdmin:buttons.html.twig' %}
                {% endif %}
                {% include 'SonataAdminBundle:Button:edit_button.html.twig' %}
                {% include 'SonataAdminBundle:Button:create_button.html.twig' %}
                {% include 'SonataAdminBundle:Button:list_button.html.twig' %}
            </div>
            <div class="btn-group visible-phone visible-tablet hidden-desktop">
                <button class="btn btn-primary admin-actions admin-actions-group">Select an action to perform</button>
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle admin-actions"><i class=" icon-chevron-down"></i></button>
                <ul class="dropdown-menu">
                    {% if admin.isChild %}
                        {% include 'RzPageBundle:SnapshotAdmin:buttons_mobile.html.twig' %}
                    {% endif %}
                    {% include 'SonataAdminBundle:Button:edit_button.html.twig' %}
                    {% include 'SonataAdminBundle:Button:create_button_mobile.html.twig' %}
                    {% include 'SonataAdminBundle:Button:list_button_mobile.html.twig' %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block side_menu %}{% endblock %}
