{% extends 'RzPageBundle:theme/rzcms:layout.html.twig' %}
{% block rzcms_body %}
    <div class="fullbody poll">
        <div class="cwrapper">
            <div class="fof">
                <h1 class="warning"><i class="fa fa-warning"></i></h1>
                <h1>Error 500</h1>
                <h3>Internal Server Error</h3>
                <p>Sorry, the page you're looking for doesn't exist.<br>
                    <a href="/">Click here to go back</a> or <a href="/contact-us">contact us</a> if you believe you're not here by mistake.</p>
            </div>
        </div>
    </div>
{% endblock %}
