<a type="button" class="btn btn-primary {% if mode == 'list' %} active{% endif %} sonata-action-element" href="{{ admin.generateUrl('list', { 'filter': { 'site': { 'value': currentSite.id|default('') }}}) }}">
    <i class="icon-table"></i> {{ 'pages.list_mode'|trans({}, 'SonataPageBundle') }}
</a>
<a type="button" class="btn btn-primary {% if mode == 'tree' %} active{% endif %} sonata-action-element" href="{{ admin.generateUrl('tree') }}">
    <i class="icon-sitemap"></i> {{ 'pages.tree_mode'|trans({}, 'SonataPageBundle') }}
</a>