<li>
    <a type="button" class="sonata-action-element {% if mode == 'list' %} active{% else %}btn-default{% endif %}" href="{{ admin.generateUrl('list', { 'filter': { 'site': { 'value': currentSite.id|default('') }}}) }}">
        <i class="icon-table"></i> {{ 'pages.list_mode'|trans({}, 'SonataPageBundle') }}
    </a>
</li>
<li>
    <a type="button" class="sonata-action-element {% if mode == 'tree' %} active{% else %}btn-default{% endif %}" href="{{ admin.generateUrl('tree') }}">
        <i class="icon-sitemap"></i> {{ 'pages.tree_mode'|trans({}, 'SonataPageBundle') }}
    </a>
</li>