/* sonata top bar style */
.sonata-bc {
 background-color: #EEE;
}

.sonata-page-top-bar label {
    margin-top: 3px;
    margin-left: 10px;
}


/*#page-action-enabled-edit, #page-action-enabled-editable {*/
    /*margin-top: -3px;*/
    /*padding-right: 10px;*/
/*}*/

/*#page-action-save-position{*/
    /*margin-top: -5px;*/
/*}*/



/*.cms-edit-mode .cms-block {*/
    /*outline: 1px dotted #C62626;*/
/*}*/

.cms-edit-mode .cms-block {
    margin: 0px 0;
    /*padding: 45px 19px 14px;*/
    /**padding-top: 19px;*/
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    display: inline-block;
}

.cms-edit-mode .cms-container{
    /*margin: 15px 0;*/
    /*padding: 30px 19px 5px;*/
    /**padding-top: 19px;*/
    margin: 0px 0;
    padding: 0px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.cms-edit-mode .cms-layout-role-block {
    background-color: transparent !important;
}

.cms-edit-mode .cms-layout-role-block {
    margin: 0px;
    padding: 5px 5px;
    background-color: #f5f5f5;
    color: #9da0a4;
    *border:0;
    -webkit-border-radius:4px 4px 0  0;
    -moz-border-radius:4px 4px 0 0;
    border-radius:4px 4px 0 0;
    /*cursor: move;*/
    text-transform: uppercase;
    text-align: left;
}

.cms-edit-mode .cms-layout-title span {
    font-size: 11px;
    margin-left: 5px;
    /*cursor: move;*/
    text-align: left;
}

/*.cms-edit-mode .cms-layout-role-block, .cms-edit-mode .cms-layout-role-container {*/
    /*background-color: rgba(238, 238, 238, 0.5);*/
/*}*/

.cms-block-editable {
    cursor: pointer;
}

.cms-block-editable-enabled:hover {
    outline: 1px dotted #09F;
}

.cms-block-editable-enabled:focus {
    outline: 1px dotted #C62626;
}

.cms-layout-title-name-container {
    color: #09F !important;
}

.cms-layout-title-name-block {
    color: #C62626 !important;
    cursor: move;
}

.cms-edit-mode .cms-layout-drag {
    margin-right: 2px !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    cursor: move;
    color: #fff !important;

}

/*.cms-edit-mode .dropdown-menu {*/
    /*z-index: 9999;*/
/*}*/




/* rz-cms */

.rz-cms .block-wrapper {
    padding: 5px;
}

.rz-cms .bg-primary,
.rz-cms .btn-primary {
    background-color: hsl(221, 38%, 16%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#253454", endColorstr="#192338");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#253454), to(#192338));
    background-image: -moz-linear-gradient(top, #253454, #192338);
    background-image: -ms-linear-gradient(top, #253454, #192338);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #253454), color-stop(100%, #192338));
    background-image: -webkit-linear-gradient(top, #253454, #192338);
    background-image: -o-linear-gradient(top, #253454, #192338);
    background-image: linear-gradient(#253454, #192338);
    border-color: #192338 #192338 hsl(221, 38%, 14%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.13);
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    font-family:"Ubuntu Condensed";
}

.rz-cms .bg-info,
.rz-cms .btn-info {
    background-color: hsl(222, 34%, 37%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b6399", endColorstr="#3e517e");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#4b6399), to(#3e517e));
    background-image: -moz-linear-gradient(top, #4b6399, #3e517e);
    background-image: -ms-linear-gradient(top, #4b6399, #3e517e);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4b6399), color-stop(100%, #3e517e));
    background-image: -webkit-linear-gradient(top, #4b6399, #3e517e);
    background-image: -o-linear-gradient(top, #4b6399, #3e517e);
    background-image: linear-gradient(#4b6399, #3e517e);
    border-color: #3e517e #3e517e hsl(222, 34%, 35%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.13);
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    font-family:"Ubuntu Condensed";
}

.rz-cms .bg-success,
.rz-cms .btn-success {
    background-color: hsl(132, 42%, 27%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#337e42", endColorstr="#276133");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#337e42), to(#276133));
    background-image: -moz-linear-gradient(top, #337e42, #276133);
    background-image: -ms-linear-gradient(top, #337e42, #276133);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #337e42), color-stop(100%, #276133));
    background-image: -webkit-linear-gradient(top, #337e42, #276133);
    background-image: -o-linear-gradient(top, #337e42, #276133);
    background-image: linear-gradient(#337e42, #276133);
    border-color: #276133 #276133 hsl(132, 42%, 25%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.13);
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    font-family:"Ubuntu Condensed";
}

.rz-cms .bg-warning,
.rz-cms .btn-warning {
    background-color: hsl(42, 69%, 41%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d39f26", endColorstr="#b08520");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#d39f26), to(#b08520));
    background-image: -moz-linear-gradient(top, #d39f26, #b08520);
    background-image: -ms-linear-gradient(top, #d39f26, #b08520);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d39f26), color-stop(100%, #b08520));
    background-image: -webkit-linear-gradient(top, #d39f26, #b08520);
    background-image: -o-linear-gradient(top, #d39f26, #b08520);
    background-image: linear-gradient(#d39f26, #b08520);
    border-color: #b08520 #b08520 hsl(42, 69%, 39%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.13);
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    font-family:"Ubuntu Condensed";
}

.rz-cms .bg-danger,
.rz-cms .btn-danger{
    background-color: hsl(360, 76%, 25%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#941414", endColorstr="#700f0f");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#941414), to(#700f0f));
    background-image: -moz-linear-gradient(top, #941414, #700f0f);
    background-image: -ms-linear-gradient(top, #941414, #700f0f);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #941414), color-stop(100%, #700f0f));
    background-image: -webkit-linear-gradient(top, #941414, #700f0f);
    background-image: -o-linear-gradient(top, #941414, #700f0f);
    background-image: linear-gradient(#941414, #700f0f);
    border-color: #700f0f #700f0f hsl(360, 76%, 23%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.13);
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    font-family:"Ubuntu Condensed";
}

.rz-cms .bg-inverse,
.rz-cms .btn-inverse {
    background-color: hsl(360, 0%, 2%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#191919", endColorstr="#050505");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#191919), to(#050505));
    background-image: -moz-linear-gradient(top, #191919, #050505);
    background-image: -ms-linear-gradient(top, #191919, #050505);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #191919), color-stop(100%, #050505));
    background-image: -webkit-linear-gradient(top, #191919, #050505);
    background-image: -o-linear-gradient(top, #191919, #050505);
    background-image: linear-gradient(#191919, #050505);
    border-color: #050505 #050505 hsl(360, 0%, 0%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.13);
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    font-family:"Ubuntu Condensed";
}

.rz-cms .bg-rz,
.rz-cms .btn-rz {
    background-color: hsl(216, 100%, 30%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0049b7", endColorstr="#003d99");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#0049b7), to(#003d99));
    background-image: -moz-linear-gradient(top, #0049b7, #003d99);
    background-image: -ms-linear-gradient(top, #0049b7, #003d99);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0049b7), color-stop(100%, #003d99));
    background-image: -webkit-linear-gradient(top, #0049b7, #003d99);
    background-image: -o-linear-gradient(top, #0049b7, #003d99);
    background-image: linear-gradient(#0049b7, #003d99);
    border-color: #003d99 #003d99 hsl(216, 100%, 28.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    font-family:"Ubuntu Condensed";
}

.rz-cms .cms-layout-role-container {
    margin: 0px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #f5f5f5;
    /*border: 1px solid #ddd;*/
    color: #9da0a4;
    *border:0;
    -webkit-border-radius:4px 4px 0  0;
    -moz-border-radius:4px 4px 0 0;
    border-radius:4px 4px 0 0;
    text-align: left;
}

.rz-cms .contenthover {
    display: none;
}
