@font-face {
  font-family: 'fontello';
  src: url('../font/fontello/fontello.eot?12029979');
  src: url('../font/fontello/fontello.eot?12029979#iefix') format('embedded-opentype'),
       url('../font/fontello/fontello.woff?12029979') format('woff'),
       url('../font/fontello/fontello.ttf?12029979') format('truetype'),
       url('../font/fontello/fontello.svg?12029979#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello/fontello.svg?12029979#fontello') format('svg');
  }
}
*/
 
 [class^="icon-line"]:before, [class*=" icon-line"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-lineheart:before { content: '\e808'; } /* '' */
.icon-linecloud:before { content: '\e822'; } /* '' */
.icon-linestar:before { content: '\e813'; } /* '' */
.icon-linetv:before { content: '\e815'; } /* '' */
.icon-linesound:before { content: '\e80c'; } /* '' */
.icon-linevideocam:before { content: '\e812'; } /* '' */
.icon-linetrash:before { content: '\e82c'; } /* '' */
.icon-lineuser:before { content: '\e80d'; } /* '' */
.icon-linekey:before { content: '\e82e'; } /* '' */
.icon-linesearch:before { content: '\e801'; } /* '' */
.icon-linecog:before { content: '\e802'; } /* '' */
.icon-linecamera:before { content: '\e814'; } /* '' */
.icon-linetag:before { content: '\e820'; } /* '' */
.icon-linelock:before { content: '\e81c'; } /* '' */
.icon-linelightbulb:before { content: '\e811'; } /* '' */
.icon-linepencil:before { content: '\e824'; } /* '' */
.icon-linediamond:before { content: '\e80f'; } /* '' */
.icon-linedesktop:before { content: '\e817'; } /* '' */
.icon-linelocation:before { content: '\e828'; } /* '' */
.icon-lineeye:before { content: '\e81d'; } /* '' */
.icon-linecomment:before { content: '\e825'; } /* '' */
.icon-lineinbox:before { content: '\e81e'; } /* '' */
.icon-linecup:before { content: '\e829'; } /* '' */
.icon-linemobile:before { content: '\e81a'; } /* '' */
.icon-linedoc:before { content: '\e82d'; } /* '' */
.icon-linemail:before { content: '\e807'; } /* '' */
.icon-linethumbs-up:before { content: '\e821'; } /* '' */
.icon-linephoto:before { content: '\e818'; } /* '' */
.icon-linenote:before { content: '\e803'; } /* '' */
.icon-lineclock:before { content: '\e80e'; } /* '' */
.icon-linepaper-plane:before { content: '\e823'; } /* '' */
.icon-lineparams:before { content: '\e806'; } /* '' */
.icon-linemoney:before { content: '\e805'; } /* '' */
.icon-linedatabase:before { content: '\e82b'; } /* '' */
.icon-linemusic:before { content: '\e800'; } /* '' */
.icon-linemegaphone:before { content: '\e82a'; } /* '' */
.icon-linegraduation-cap:before { content: '\e827'; } /* '' */
.icon-linebeaker:before { content: '\e804'; } /* '' */
.icon-linefood:before { content: '\e80a'; } /* '' */
.icon-linet-shirt:before { content: '\e810'; } /* '' */
.icon-linefire:before { content: '\e826'; } /* '' */
.icon-lineattach:before { content: '\e819'; } /* '' */
.icon-lineshop:before { content: '\e80b'; } /* '' */
.icon-linecalendar:before { content: '\e809'; } /* '' */
.icon-linewallet:before { content: '\e816'; } /* '' */
.icon-linecd:before { content: '\e81b'; } /* '' */
.icon-linetruck:before { content: '\e82f'; } /* '' */
.icon-lineglobe:before { content: '\e81f'; } /* '' */