.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin a {
    color: #707070;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin a:hover {
    color: #019875;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .box.box-color .box-title .tabs > li.active > a {
    color: #019875;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .box.box-color .box-title .tabs > li > a:hover {
    color: #019875;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .btn {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .btn-group > .btn {
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .btn-group > .btn:first-child {
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .btn-group > .btn:last-child,
.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .btn-group > .dropdown-toggle {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}


.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .btn.btn-success {
    background: #7DC692;
    border-color: #7DC692;
    color: #fff;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .btn.btn-success:hover {
    background: #019875;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .btn.btn-primary {
    background: #313941;
    border-color: #313941;
    color: #fff;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .btn.btn-primary:hover {
    background: #019875;
}


.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin.modal {
    background: transparent !important
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-header h3 {
    text-align: left
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-footer {
    text-align: right
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-footer .btn {
    margin: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-footer .btn:first-child {
    margin-right: 5px
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-footer .btn.btn-primary,
.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-footer .btn.btn-delete {
    padding: 12px 24px;
    background: #313941;
    border: 1px solid #F6F7F0!important;
    color: #F6F7F0!important;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-footer .btn.btn-primary:hover,
.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-footer .btn.btn-delete:hover{
    background: #253454;
    border: 1px solid #F6F7F0!important;
    color: #F6F7F0!important;
}
.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-footer .btn.btn-delete:active,
.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-footer .btn.btn-delete:focus,
.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-footer .btn.btn-primary:active,
.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-footer .btn.btn-primary:focus {
    background: #313941;
    border: 1px solid #95989C!important;
    color: #F6F7F0!important;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-body {
    background-color: #fff
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin #main .box.box-bordered.box-color .box-title,
.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .box.box-color.box-bordered .box-title {
    -webkit-border-radius: 4px 4px 0px  0px;
    -moz-border-radius: 4px 4px 0px  0px;
    border-radius: 4px 4px 0px  0px;
    background: #495159!important;
    border-color: #495159!important;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .box.box-bordered.box-color .box-content {
    border-color: #495159;
}
.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .box.box-color.green.box-small.box-bordered .box-title {
    background-color: #7DC692!important;
    border-color: #7DC692!important;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .box.box-color.green.box-small.box-bordered .box-content {
    border-color: #7DC692!important;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-body .modal-delete {
    margin: 0px 10px 25px 10px;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-body .modal-delete p {
    color: #313941;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-footer form {
    margin: 0px;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-body .modal-delete .box.box-bordered.box-color.red .box-title {
    border-color: #313941 !important;
    background: #313941 !important;
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .modal-body .modal-delete .box.box-bordered.box-color.red .box-content {
    border-color: #313941 !important
}

.rz-cms .bx-wrapper .bx-viewport {
    border-top:  0px solid transparent !important;
    border-bottom:  0px solid transparent !important;
}


h3.sonata-news-block-tags,  h3.sonata-news-block-collections, h3.sonata-news-block-featured-post, h3.sonata-news-block-recent-post{
    margin-top: 0px
}

.category-list .category-item {
    margin-bottom: 10px;
}

.category-list .category-item .category {
    background-color: #fff;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.category-list .category-item .category .item-description {
    margin: 10px;
}

.category-list .category-item .category > a {
    text-align: center;
    display: block;
}


.breadcrumbs {
    *zoom: 1;
    background: #f4f4f4;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.breadcrumbs:after {
    content: "";
    display: table;
    clear: both;
}

.breadcrumbs ul {
    list-style-type: none;
    margin: 0;
    padding: 2px 5px;
    *zoom: 1;
    float: left;
}

.breadcrumbs ul:after {
    content: "";
    display: table;
    clear: both;
}

.breadcrumbs ul > li {
    float: left;
    color: #666;
}

.breadcrumbs ul > li > a {
    color: #666;
    display: block;
    padding: 0px 6px;
    font-size: 15px;
    float: left;
    line-height: 25px;
    text-transform: uppercase;
}

.breadcrumbs ul > li i {
    float: left;
    font-size: 11px;
    margin: 7px 0 6px 0;
}

.breadcrumbs ul > li.active > a {
    color:  #253454;
}


.breadcrumbs ul > li > a:hover {
    text-decoration: none;
    color:  #253454;
}




