.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .box.box-color.green .btn.btn-primary {
    background: #7DC692
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .box.box-bordered.box-color.green .box-title {
    border-color: #7DC692 !important
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .box.box-bordered.box-color.green .box-content {
    border-color: #7DC692 !important
}

.rz-cms-edit.cms-edit-mode .rzcms.rz-cms-admin .box.box-color.green .box-title {
    background: #7DC692 !important
}
