.badge { color: #fff !important; }
.badge a:hover { color: #ccc !important;}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    bottom: -40px !important;
}

.form-search .btn {
    margin-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-left-width: 2px;
    background-color: #253454;
    color: #fff;
    border: 2px solid #253454;
}

.form-search .btn:hover {
    background-color: #313941;
    color: #ccc;
    border: 2px solid #313941;
}

input.search-query {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 24px;
}

