{% extends 'RzAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <a href="{{ admin.generateObjectUrl('snapshots', object) }}"><i class="fa fa-camera"></i> {{ "link_create_snapshots"|trans({}, "SonataPageBundle")}}</a>
{% endblock %}
